<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wearable Page</title>
    <!-- Add any additional styles or scripts for the wearable.html page -->
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center mb-4">Wearable Page</h2>
        
        <!-- Add your content for the wearable.html page -->
        <div>
            <p>This is the wearable page. You can add your content here.</p>
            <!-- Example: Display Mi Band data visualizations -->
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-center mb-3">Distribution of Sleep Time</h4>
                    <img src="{{ url_for('static', filename='sleep_pie_chart.png') }}" class="img-fluid" alt="Sleep Pie Chart">
                </div>

                <div class="col-md-6">
                    <h4 class="text-center mb-3">Distribution of Steps Metrics</h4>
                    <img src="{{ url_for('static', filename='steps_pie_chart.png') }}" class="img-fluid" alt="Steps Pie Chart">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
